{% extends 'layout.html' %}

{% block head %}
<!--external css-->
<link href="../../public/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="../../public/css/admin/style.css" rel="stylesheet">
<link href="../../public/css/admin/style-responsive.css" rel="stylesheet" />

<script type="text/javascript" src="../../public/js/jquery-3.2.1.min.js"></script>

<script src="../../public/js/sweet-alert.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../public/css/sweet-alert.css">

<link rel="stylesheet" href="../../public/css/summernote.css" />
<script type="text/javascript" src="../../public/js/summernote.js"></script>
<link href="../../public/css/font/summernote.eot">
<link href="../../public/css/font/summernote.ttf">
<link href="../../public/css/font/summernote.woff">

<style rel="stylesheet" type="text/css">
    .panel {
        margin-bottom: 0;
    }
    .btn-default {
        color: #333 !important;
        background-color: #ffffff !important;
        border-color: #CCCCCC !important;
    }
    @media (max-width: 768px) {
        .btn {
            margin-bottom: 0;
        }
    }
    .index-about_site, .index-site_theory, .index-rate {
        margin-top: 20px;
        padding: 5px 0px;
        border-top: 1px #dddddd solid;
        color: black;
    }
    .index-about_site textarea, .index-site_theory textarea, .index-rate textarea{
        width: 100%;
        font-size: 14px;
    }
</style>

{% endblock %}

{% block main %}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <!--tab nav start-->
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#about_site">平台简介</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#site_theory">平台原理</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#rate">费率</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="about_site" class="tab-pane active">
                        <div class="about_site">
                            {% for content in data %}
                                {% if content.title=='about_site' %}
                                    {% autoescape %}{{content.content}}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <script type="text/javascript">
                          $(document).ready(function() {
                            var $summernote = $('.about_site').summernote({
                              height:500,
                              minheight:500,
                              dialogsFade:true,
                              placeholder:'请输入描述...',
                              callbacks: {
                                onImageUpload: function (files) {
                                  sendFile($summernote, files[0]);
                                }
                              }
                            });

                            function sendFile($summernote, file) {
                              var formData = new FormData();
                              formData.append("file", file);
                              $.ajax({
                                url: '/admin/uploadImg',
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,
                                type: 'POST',
                                success: function (data) {
                                  $summernote.summernote('insertImage', data.url, function ($image) {
                                    $image.attr('src', data.url);
                                  });
                                }
                              });

                            }
                          });
                        </script>
                        <div class="index-about_site">
                            <h4>首页轮播设置</h4>
                            <textarea placeholder="请输入平台简介..." rows="3">{% for content in data %}{% if content.title=='index_about_site' %}{{content.content}}{% endif %}{% endfor %}</textarea>
                        </div>
                        <button class="btn btn-danger post-about_site">保存设置</button>
                    </div>
                    <div id="site_theory" class="tab-pane">
                        <div class="site_theory">
                            {% for content in data %}
                                {% if content.title=='site_theory' %}
                                    {% autoescape %}{{content.content}}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <script type="text/javascript">
                          $(document).ready(function() {
                            var $summernote2 = $('.site_theory').summernote({
                              height:500,
                              minheight:500,
                              dialogsFade:true,
                              placeholder:'请输入描述...',
                              callbacks: {
                                onImageUpload: function (files) {
                                  sendFile($summernote2, files[0]);
                                }
                              }
                            });

                            function sendFile($summernote2, file) {
                              var formData = new FormData();
                              formData.append("file", file);
                              $.ajax({
                                url: '/admin/uploadImg',
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,
                                type: 'POST',
                                success: function (data) {
                                  $summernote2.summernote('insertImage', data.url, function ($image) {
                                    $image.attr('src', data.url);
                                  });
                                }
                              });
                            }
                          });
                        </script>
                        <div class="index-site_theory">
                            <h4>首页轮播设置</h4>
                            <textarea placeholder="请输入平台原理..." rows="3">{% for content in data %}{% if content.title=='index_about_theory' %}{{content.content}}{% endif %}{% endfor %}</textarea>
                        </div>
                        <button class="btn btn-danger post-site_theory">保存设置</button>
                    </div>
                    <div id="rate" class="tab-pane">
                        <div class="rate">
                            {% for content in data %}
                                {% if content.title=='rate' %}
                                    {% autoescape %}{{content.content}}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <script type="text/javascript">
                          $(document).ready(function() {
                            var $summernote3 = $('.rate').summernote({
                              height:500,
                              minheight:500,
                              dialogsFade:true,
                              placeholder:'请输入描述...',
                              callbacks: {
                                onImageUpload: function (files) {
                                  sendFile($summernote3, files[0]);
                                }
                              }
                            });

                            function sendFile($summernote3, file) {
                              var formData = new FormData();
                              formData.append("file", file);
                              $.ajax({
                                url: '/admin/uploadImg',
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,
                                type: 'POST',
                                success: function (data) {
                                  $summernote3.summernote('insertImage', data.url, function ($image) {
                                    $image.attr('src', data.url);
                                  });
                                }
                              });
                            }
                          });
                        </script>
                        <div class="index-rate">
                            <h4>首页轮播设置</h4>
                            <textarea placeholder="请输入费率..." rows="3">{% for content in data %}{% if content.title=='index_rate' %}{{content.content}}{% endif %}{% endfor %}</textarea>
                        </div>
                        <button class="btn btn-danger post-rate">保存设置</button>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<!--main content end-->
{% endblock %}

{% block script %}
<!-- js placed at the end of the document so the pages load faster -->
<script src="../../public/js/bootstrap.min.js"></script>
<script src="../../public/js/admin/jquery.scrollTo.min.js"></script>
<script src="../../public/js/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="../../public/js/admin/common-scripts.js"></script>

<script type="text/javascript">
  $(function() {
    $('.post-about_site').click(function () {
      $.ajax({
        type: 'post',
        url: '/content/content_save',
        data: {
          title: 'about_site',
          content: $('.about_site').summernote('code')
        },
        dataType: 'json',
        success: function () {
          $.ajax({
            type: 'post',
            url: '/content/content_save',
            data: {
              title: 'index_about_site',
              content: $('.index-about_site textarea').val()
            },
            dataType: 'json',
            success: function (data) {
              sweetAlert({
                title: data.message,
                type: 'success',
                showCancelButton: false,
                confirmButtonColor: "#0083ff",
                confirmButtonText: "确定",
                closeOnConfirm: false
              })
            }
          })
        }
      })
    });

    $('.post-site_theory').click(function () {
      $.ajax({
        type: 'post',
        url: '/content/content_save',
        data: {
          title: 'site_theory',
          content: $('.site_theory').summernote('code')
        },
        dataType: 'json',
        success: function () {
          $.ajax({
            type: 'post',
            url: '/content/content_save',
            data: {
              title: 'index_site_theory',
              content: $('.index-site_theory textarea').val()
            },
            dataType: 'json',
            success: function (data) {
              sweetAlert({
                title: data.message,
                type: 'success',
                showCancelButton: false,
                confirmButtonColor: "#0083ff",
                confirmButtonText: "确定",
                closeOnConfirm: false
              })
            }
          })
        }
      })
    });

    $('.post-rate').click(function () {
      $.ajax({
        type: 'post',
        url: '/content/content_save',
        data: {
          title: 'rate',
          content: $('.rate').summernote('code')
        },
        dataType: 'json',
        success: function () {
          $.ajax({
            type: 'post',
            url: '/content/content_save',
            data: {
              title: 'index_rate',
              content: $('.index-rate textarea').val()
            },
            dataType: 'json',
            success: function (data) {
              sweetAlert({
                title: data.message,
                type: 'success',
                showCancelButton: false,
                confirmButtonColor: "#0083ff",
                confirmButtonText: "确定",
                closeOnConfirm: false
              })
            }
          })
        }
      });
    });
  })
</script>
{% endblock %}