<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="JOZECN">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="icon" href="../../public/img/favicon.ico" />

    <title>开信财富</title>

    <!-- Bootstrap core CSS -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/admin/bootstrap-reset.css" rel="stylesheet">

    {% block head %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="../../public/js/admin/html5shiv.js"></script>
    <script src="../../public/js/admin/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="/" class="logo">开信<span>财富</span></a>
        <!--logo end-->
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="../../public/img/avatar.jpg" style="height: 30px;">
                        <span class="username">{{userInfo.username}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" icon-suitcase"></i> 简介</a></li>
                        <li><a href="#"><i class="icon-cog"></i> 设置</a></li>
                        <li><a href="#"><i class="icon-bell-alt"></i> 通知</a></li>
                        <li><a id="logout" style="cursor: pointer;"><i class="icon-key"></i> 登出</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li>
                    <a class="" href="/admin">
                        <i class="icon-dashboard"></i>
                        <span>主面板</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-hdd"></i>
                        <span>产品管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/product_list">产品列表</a></li>
                        <li><a class="" href="/admin/product_add">添加产品</a></li>
                        <li><a class="" href="/admin/product_category_list">产品分类</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-comments"></i>
                        <span>资讯管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/news_list">资讯列表</a></li>
                        <li><a class="" href="/admin/news_add">添加资讯</a></li>
                        <li><a class="" href="/admin/news_category_list">资讯分类</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-book"></i>
                        <span>理财顾问</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/question_list">问答列表</a></li>
                        <li><a class="" href="/admin/question_add">添加问题</a></li>
                        <li><a class="" href="/admin/answer_add">添加答案</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-signal"></i>
                        <span>动态指数</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="#">查询列表</a></li>
                        <li><a class="" href="#">添加指数查询</a></li>
                        <li><a class="" href="#">获取指数报表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/user_list" class="">
                        <i class="icon-user"></i>
                        <span>用户数据</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-fire"></i>
                        <span>平台简介</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/about_us">关于我们</a></li>
                        <li><a class="" href="/admin/about_site">关于平台</a></li>
                        <li><a class="" href="/admin/user_agreement">用户协议</a></li>
                        <li><a class="" href="/admin/faq">常见问题</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-wrench"></i>
                        <span>平台设置</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/slide_config">首页轮播</a></li>
                        <li><a class="" href="/admin/slide_config_add">添加轮播</a></li>
                        <li><a class="" href="/admin/site_config">功能块设置</a></li>
                    </ul>
                </li>

                <!--<li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-book"></i>
                        <span>UI 元素</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/general">通用</a></li>
                        <li><a class="" href="/admin/buttons">按钮</a></li>
                        <li><a class="" href="/admin/widget">部件</a></li>
                        <li><a class="" href="/admin/slider">滑块</a></li>
                        <li><a class="" href="/admin/font_awesome">字体</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-cogs"></i>
                        <span>组件</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/grids">网格</a></li>
                        <li><a class="" href="/admin/calendar">日历</a></li>
                        <li><a class="" href="/admin/charts">图表</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-tasks"></i>
                        <span>表单</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/form_component">表单组件</a></li>
                        <li><a class="" href="/admin/form_wizard">导向表单</a></li>
                        <li><a class="" href="/admin/form_validation">验证表单</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-th"></i>
                        <span>数据表格</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/basic_table">基本表格</a></li>
                        <li><a class="" href="/admin/dynamic_table">动态表格</a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="/admin/inbox">
                        <i class="icon-envelope"></i>
                        <span>邮件</span>
                        <span class="label label-danger pull-right mail-info">2</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-glass"></i>
                        <span>额外</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/admin/blank">空白页</a></li>
                        <li><a class="" href="/admin/profile">简介</a></li>
                        <li><a class="" href="/admin/invoice">清单</a></li>
                        <li><a class="" href="/admin/404">404 错误</a></li>
                        <li><a class="" href="/admin/500">500 错误</a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="/admin/login">
                        <i class="icon-user"></i>
                        <span>登录</span>
                    </a>
                </li>-->
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    {% block main %}{% endblock %}
</section>
{% block script %}{% endblock %}
<script type="text/javascript">
    $(function () {
        var pathname=window.location.pathname;
        $("[href='"+pathname+"']").parent().addClass('active');
        $("[href='"+pathname+"']").parent().parent().css('display','block');
        $("[href='"+pathname+"']").parent().parent().parent().addClass('open');

      $('#logout').click(function(){
        $.ajax({
          type:'get',
          url:'/user/logout',
          success:function(data){
            if(!data.code){
              window.location.href='http://'+(window.location.host).toString();
            }
          }
        })
      });
    })
</script>
</body>
</html>
