{% extends 'layout.html' %}

{% block slide %}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="50000" id="bs-carousel">
    <ol class="carousel-indicators">
        {% for slide in slide %}
        <li data-target="#bs-carousel" data-slide-to="{{loop.index0}}"{% if loop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner">
        {% for slide in slide %}
        <div class="item slides{% if loop.first %} active{% endif %}" style="background-color: #000000">
            <div class="slide-{{loop.index}}" style="background-image: url({{slide.image}});opacity: 0.5;"></div>
            <div class="hero">
                <h1><span>{{slide.bTitle}}</span></h1>
                <h3>{{slide.sTitle}}</h3>
                <a class="btn btn-hero btn-lg" href="/product/product_detail?id={{slide.product._id.toString()}}" role="button">了解更多</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block main %}
<link rel="stylesheet" href="../../public/css/index-style.css">

<div class="row wow bounceInRight" style="padding: 0;">
    <a href="/product"><div class="col-sm-4 product-sort">
        <img src="../../public/img/1.jpg" alt="">
        <div class="product-sort-cover">
            <p>投资产品</p>
            <span class="product-sort-description">由商业银行和正规金融机构自行设计并发行，将募集到的资金根据产品合同约定投入相关金融市场及购买相关金融产品</span>
        </div>
    </div></a>
    <a href="/product"><div class="col-sm-4 product-sort">
        <img src="../../public/img/2.jpg" alt="">
        <div class="product-sort-cover">
            <p>保险产品</p>
            <span class="product-sort-description">由保险人提供给保险市场的，能够引起人们注意、购买，从而满足人们减少风险和转移风险，必要时能得到一定的经济补偿需要的承诺性组合。</span>
        </div>
    </div></a>
    <a href="/product"><div class="col-sm-4 product-sort">
        <img src="../../public/img/3.jpg" alt="">
        <div class="product-sort-cover">
            <p>开信海外</p>
            <span class="product-sort-description">开信财富拥有专业、资深的理财规划师团队，大部分理财顾问具有银行、证券、信托、保险等金融机构从业经验和专业背景。</span>
        </div>
    </div></a>
</div>
<script type="text/javascript" src="../../public/js/index.js"></script>

<div class="getit_area">
    <div class="container">
        <div class="row">
            <div class="getit_section">
                <h1>掌握金融行业动态，把握市场机会</h1>
            </div>
        </div>
    </div>
</div><!--  getit area end -->

<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="blog_section">
                <h1>您的随身 <span>理财顾问</span></h1>
                <div class="single_blog col-md-4 slider-content">
                    <a>
                        <img src="../../public/img/1.jpg" alt="">
                        <div class="slider-text">
                            <h3>财富创造</h3>
                            <p>理财顾问通过投资规划为您制定合适的资产配置组合方案，确定在各大类投资产品中的最优投资比例，以降低风险提高收益，实现财富增值。</p>
                        </div>
                    </a>
                </div>
                <div class="single_blog col-md-4 slider-content">
                    <a>
                        <img src="../../public/img/2.jpg" alt="">
                        <div class="slider-text">
                            <h3>财富保全</h3>
                            <p>理财顾问通过保险资规划帮您确定家庭的保险需求，以及在各险种之间的合理配置，并明确具体保额，以转移风险，保全资产。</p>
                        </div>
                    </a>
                </div>
                <div class="single_blog col-md-4 slider-content">
                    <a>
                        <img src="../../public/img/3.jpg" alt="">
                        <div class="slider-text">
                            <h3>财富传承</h3>
                            <p>理财顾问利用信托、保险、遗嘱等传承工具提供具体的财富传承建议。并通过子女教育规划& 养老规划为您的理财目标提供具体建议。</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- blog area end   -->

<div class="work_area">
    <div class="container">
        <div class="row">
            <div class="work_section">
                <h1 class="wow bounceInLeft">财富 <span>产业资讯</span></h1>
                <div class="col-md-12 wow bounceInRight animated">
                    <div class="bs-example">
                        <ul class="nav nav-tabs">
                            <a class="btn btn-danger" href="/news" style="float: right;">查看更多</a>
                            {% for newsCategory in newsCategory %}
                            <li class="{% if loop.first %}active{% endif %}"><a data-toggle="tab" href="#section{{loop.index0}}"><i class="icon-camera"></i>{{newsCategory.name}}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for newsCategory in newsCategory %}
                            <div id="section{{loop.index0}}" class="tab-pane fade{% if loop.first %} in active{% endif %}">
                                <ul class="new-list">
                                    {% for news in news %}
                                    {% if news.category.name==newsCategory.name %}
                                    <li class="new-list-item"><a href="/news/news_detail?id={{news.id.toString()}}">
                                        <i class="icon-bar-chart"></i>
                                        <span class="new-title">{{news.title}}</span>
                                        <span class="new-data">{{news.date}}</span></a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- work area end   -->

<div class="row market">
    <div class="col-sm-12 market-session-title">
        <h1>金融 <span>动态指数</span></h1>
    </div>
    <div class="col-sm-4 shares">
        <div class="shares-block">
            <img src="http://image.sinajs.cn/newchart/daily/n/sh000001.gif" alt="">
            <div class="market-data data1">
                <p class="market-name">上证指数</p>
                <p>当前指数：<span class="market-current-point"></span></p>
                <p>当前价格：<span class="market-current-price"></span></p>
                <p>涨跌率：<span class="market-current-rate"></span></p>
                <p>成交量：<span class="market-current-volume"></span></p>
                <p>成交额：<span class="market-current-turnover"></span></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 shares">
        <div class="shares-block">
            <img src="http://image.sinajs.cn/newchart/daily/n/sz399001.gif" alt="">
            <div class="market-data data2">
                <p class="market-name">深圳指数</p>
                <p>当前指数：<span class="market-current-point"></span></p>
                <p>当前价格：<span class="market-current-price"></span></p>
                <p>涨跌率：<span class="market-current-rate"></span></p>
                <p>成交量：<span class="market-current-volume"></span></p>
                <p>成交额：<span class="market-current-turnover"></span></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 shares">
        <div class="shares-block">
            <img src="http://image.sinajs.cn/newchart/daily/n/sh513500.gif" alt="">
            <div class="market-data data3">
                <p class="market-name">标普500</p>
                <p>当前指数：<span class="market-current-point"></span></p>
                <p>当前价格：<span class="market-current-price"></span></p>
                <p>涨跌率：<span class="market-current-rate"></span></p>
                <p>成交量：<span class="market-current-volume"></span></p>
                <p>成交额：<span class="market-current-turnover"></span></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://hq.sinajs.cn/list=s_sh000001" charset="gb2312">
</script>
<script type="text/javascript">
  var elements=hq_str_s_sh000001.split(",");
  $('.shares-block .data1 .market-current-point').text(elements[1]);
  $('.shares-block .data1 .market-current-price').text(elements[2]);
  $('.shares-block .data1 .market-current-rate').text(elements[3]);
  $('.shares-block .data1 .market-current-volume').text(elements[4]);
  $('.shares-block .data1 .market-current-turnover').text(elements[5]);
</script>

<script type="text/javascript" src="http://hq.sinajs.cn/list=s_sz399001" charset="gb2312">
</script>
<script type="text/javascript">
  var elements=hq_str_s_sz399001.split(",");
  $('.shares-block .data2 .market-current-point').text(elements[1]);
  $('.shares-block .data2 .market-current-price').text(elements[2]);
  $('.shares-block .data2 .market-current-rate').text(elements[3]);
  $('.shares-block .data2 .market-current-volume').text(elements[4]);
  $('.shares-block .data2 .market-current-turnover').text(elements[5]);
</script>

<script type="text/javascript" src="http://hq.sinajs.cn/list=s_sh513500" charset="gb2312">
</script>
<script type="text/javascript">
  var elements=hq_str_s_sh513500.split(",");
  $('.shares-block .data3 .market-current-point').text(elements[1]);
  $('.shares-block .data3 .market-current-price').text(elements[2]);
  $('.shares-block .data3 .market-current-rate').text(elements[3]);
  $('.shares-block .data3 .market-current-volume').text(elements[4]);
  $('.shares-block .data3 .market-current-turnover').text(elements[5]);
</script>

<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="testimonial_section">
                <h1>关于 <span>开信财富</span></h1>
                <div id="testimonial_carosule" class="owl-carousel owl-theme">
                    <div class="item">
                        <blockquote>
                            <h2>平台简介</h2>
                            <p>{% for content in content %}{% if content.title=='index_about_site' %}{{content.content}}{% endif %}{% endfor %}</p>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <h2>平台原理</h2>
                            <p>{% for content in content %}{% if content.title=='index_about_theory' %}{{content.content}}{% endif %}{% endfor %}</p>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <h2>投资费率</h2>
                            <p>{% for content in content %}{% if content.title=='index_rate' %}{{content.content}}{% endif %}{% endfor %}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{%include 'footer.html' %}
{% endblock %}