{% extends 'layout.html' %}

{% block main %}
<style type="text/css">
    .main_header {
        opacity: 1;
        top: 0;
        background-color: rgba(255, 255, 255, 0.93);
    }
    .product-main {
        margin-top: 80px;
    }
    .product-img {
        height: 200px;
        overflow: hidden;
    }
    .product-img img{
        height: 100%;
    }
    .work_area {
        margin-top: 20px;
    }
    .work_section {
        margin: 0;
    }
    .bs-example {
        margin: 0;
    }
    .nav-tabs {
        background-color: #f7f7f7;
    }
    .product-detail {
        height: 200px;
        border: 1px #dddddd solid;
    }
    .product-detail-name {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        padding: 20px 0;
        color: #e95a44;
        border-bottom: 1px #dddddd solid;
    }
    .product-detail-block {
        margin: 10px 0;
    }
    .product-detail-category,.product-detail-time {
        border-right: 1px #dddddd dashed;
    }
    .product-detail-category,.product-detail-time,.product-detail-profit {
        padding: 15px;
    }
    .product-detail-category p:last-child,.product-detail-time p:last-child,.product-detail-profit p:last-child {
        font-size: 30px;
        color: #e95a44;
        font-weight: 600;
    }
    .product-content {
        font-size: 16px;
        text-align: left;
    }
    .product-content .col-sm-2,.product-content .col-sm-4,.product-content .col-sm-10 {
        padding: 10px;
        border-top: 1px #dddddd solid;
    }
    .product-content span {
        color: #e95a44;
        font-weight: 600;
    }
    @media only screen and (max-width: 959px) {
        .product-detail-category,.product-detail-time,.product-detail-profit {
            padding: 0;
        }
        .product-detail {
            height: auto;
        }
    }
    @media only screen and (max-width: 768px) {
        .product-img {
            width: 100%;
            overflow: hidden;
        }
        .product-img img{
            width: 100%;
            height: auto;
        }
        .product-detail-category,.product-detail-time {
            border-right: none;
        }
        .product-detail-category,.product-detail-time,.product-detail-profit {
            padding: 0;
        }
    }
</style>
<div class="row product-main">
    <div class="col-sm-12 wow bounceInLeft">
        <div class="col-sm-3" style="padding: 0">
            <div class="product-img">
                <img src="{{data.image}}">
            </div>
        </div>
        <div class="col-sm-9" style="padding: 0">
            <div class="product-detail">
                <div class="product-detail-name">{{data.name}}</div>
                <div class="product-detail-block clearfix">
                    <div class="col-sm-4 product-detail-category">
                        <p>所属分类</p>
                        <p>{{data.category.name}}</p>
                    </div>
                    <div class="col-sm-4 product-detail-time">
                        <p>最短持有期限</p>
                        <p>{{data.time}}</p>
                    </div>
                    <div class="col-sm-4 product-detail-profit">
                        <p>预期年化收益</p>
                        <p>{{data.income}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="work_area">
            <div class="work_section">
                <div class="col-md-12 wow bounceInRight animated" style="padding: 0;">
                    <div class="bs-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#sectionA"><i class="icon-camera"></i>产品介绍</a></li>
                            <li><a data-toggle="tab" href="#sectionB"><i class="icon-camera"></i>产品条款</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="sectionA" class="tab-pane fade in active">
                                <div class="product-content clearfix">
                                    <div class="row">
                                        <div class="col-sm-2"><span>产品名称</span></div>
                                        <div class="col-sm-4">{{data.name}}</div>
                                        <div class="col-sm-2"><span>服务公司</span></div>
                                        <div class="col-sm-4">{{data.company}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><span>产品分类</span></div>
                                        <div class="col-sm-4">{{data.category.name}}</div>
                                        <div class="col-sm-2"><span>年化收益</span></div>
                                        <div class="col-sm-4">{{data.income}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><span>产品类型</span></div>
                                        <div class="col-sm-4">{{data.sort}}</div>
                                        <div class="col-sm-2"><span>持有期限</span></div>
                                        <div class="col-sm-4">{{data.time}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><span>产品详情</span></div>
                                        <div class="col-sm-10">{{data.description}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><span>缴费方式</span></div>
                                        <div class="col-sm-4">{{data.pay}}</div>
                                        <div class="col-sm-2"><span>缴费期限</span></div>
                                        <div class="col-sm-4">{{data.dealline}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><span>投资资格</span></div>
                                        <div class="col-sm-10">{{data.qualify}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><span>产品特点</span></div>
                                        <div class="col-sm-10">{{data.feature}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><span>销售地区</span></div>
                                        <div class="col-sm-10">{{data.area}}</div>
                                    </div>
                                </div>
                            </div>
                            <div id="sectionB" class="tab-pane fade">
                                <div>{{data.term}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}